/* 
body{
    overflow-x: hidden;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    padding: 20px 10%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: large;
}

.logo li a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: darkslategray;
}

.about{
    padding: 60px 20px;


}

.about h2{
    text-align: center;
    font-size: x-large;
}

.aboutmain{
    display: flex;
    align-items: flex-start;
    padding: 40px;
   gap: 40px;
       justify-content: space-between;
       margin: 0 auto;
       max-width: 1200px;
       width: 100%;
       

    
}

.aboutext{
     width: 70%;
    line-height: 1.9;
    display: flex;
    gap: 30px;
    flex-direction: column;
    font-size: large;
    font-family: 'Times New Roman';
    color: black;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
   box-sizing: border-box;
    text-align: left;
  
    padding: 20px;
    max-width: none;
    
}


/* .aboutext{
    max-width: 500px;
} */

.roundimage{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 6px solid palevioletred;
}



.aboutimage{
    justify-content: flex-end;
    flex: 1;
}