* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    padding: 20px 10%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: large;
}

.logo li a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: darkslategray;
}

.achievements{
    gap: 20px;
}
.achievements ul {
  list-style: none;
  padding-left: 0;
}

.achievements li {
  margin-bottom: 10px;
  padding-left: 20px;
  position: relative;
}

.achievements li::before {
  content: "•";
  position: absolute;
  left: 0;
  color: #2b7a78; /* nice blue/green tone */
  font-size: 20px;
  top: 0;
}

body {
            
            background-color: #f5f7fa;
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            color: #333;
        }

         p {
            text-align: center;
            color: #555;
            font-size: 16px;
            margin-top: 20px;
        }

        h2 {
            color: #444;
            margin-top: 30px;
            margin-bottom: 15px;
            font-size: 20px;
        }

        .achievement-card {
            background-color: #ffffff;
            padding: 15px 20px;
            margin-bottom: 12px;
            border-radius: 12px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            transition: transform 0.3s, background-color 0.3s;
        }

        .achievement-card:hover {
            transform: translateY(-5px);
            background-color: #f9f9f9;
        }

        .container {
            max-width: 900px;
            margin: auto;
        }

       