* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    padding: 20px 10%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: large;
}

.logo li a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: darkslategray;
}

.home{
    display: flex;
    justify-content: space-between;
   
    padding: 50px;

}

.homecontent{
    
    display: flex;
    flex-direction: column;
    font-size: large;
    padding-right: 40px;
    padding: 250px 15px;
}

.homecontent h1{
    font-size: large;
    color: black;
    margin-bottom: 10px;
}

.homecontent p{
    font-size: 1.2rem;
    color: darkslategrey;
    margin-bottom: 10px;
}

.homecontent a{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
}


/* .image{
    width: 320px;
    height: 420px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.image img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
} */

.roundimage{
    width: 400px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border: 6px solid rgb(55, 132, 184);
}

.image img{
    /* justify-content: flex-end; */
    /* flex: 1; */
    margin-right: 200px;
}