* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    width: 100%;
    justify-content:flex-end;
    padding: 20px 10%;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;

}

.logo{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    font-size: large;
}

.logo li a {
    text-decoration: none;
    font-size: medium;
    font-weight: 700;
    color: darkslategray;
}

body {
        
         
         background-color: #f9f9f9;
        }
        h1 {
           text-align: center;
           margin-bottom: 30px;
           
        }
        .skills {
            max-width: 800px;
            margin: auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.1);
        }
        h2 {
            color: #333;
            margin-top: 20px;
        }
        ul {
            list-style-type: disc;
            margin-left: 20px;
            line-height: 1.8;
        }